.navbar-brand img {
	height: 40px;
	position: relative;
	top: -10px;
	float: left;
	margin-right: 30px;
}

.logo {
	color: #FFF;
	font-size:	25px;
}

.handwrite {
   font-family: 'GrandHotelRegular';
   font-weight: normal;
   font-style: normal; 
}
